# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
tf-env/

# Logs & databases
*.log
*.db

# Processed Excel (output, can be regenerated)
data/processed/*.xlsx
